{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container mt-5">
            <h2>books</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Genre</th>
                    <th>Price</th>
                    <th>Published Date</th>
                </tr>
                </thead>
                <tbody>
                {% for book in books %}
                    <tr>
                        <td><img src="{{ book.cover_image.url }}" alt="{{ book.title }}" class="img-fluid"
                                 style="max-width: 100px;"></td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.genre }}</td>
                        <td>{{ book.price }}</td>
                        <td>{{ book.publication_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    {% else %}
        <div class="col-md-6 offset-md-3">
            <h1>Login</h1>
            <br>
            <form method="post" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>

        </div>

    {% endif %}
{% endblock %}