{% extends 'base.html' %}
{% block content %}
    <div class="col-md-6 offset-md-3">
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {% for field in form %}
                        {% if field.errors %}
                            <strong>{{ field.errors }}</strong>
                        {% endif %}
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %} 
    <br>
        <button type="submit" class="btn btn-primary">Login</button>

    </form>
    </div>

{% endblock %}